@font-face {
    font-family: 'Pixel';
    src: url(assets/fonts/VT323-Regular.ttf) format('truetype');
}

html, body {
    height: 2000px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Pixel', 'Regular';
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(91, 188, 206) 0%, rgb(91, 188, 206) 30.08%, rgb(118, 200, 211) 45.07%, rgb(184, 220, 218) 62.87%, rgb(224, 232, 224) 74.13%, rgb(226, 232, 225) 79.38%, rgb(226, 232, 225) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.game-1-container {
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host_container {
    position: fixed;
    left: 12px;
    bottom: 130px;
    z-index: 5;
}

.host {
    max-width: 95px;
}

.clouds {
    pointer-events: none;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.clouds_2 {
    max-width: 100%;
    position: relative;
    bottom: 100px;
    transform: rotateZ(180deg);
}

.speak {
    opacity: 1 !important;
}

.speak_bubble {
    position: fixed;
    left: 15px;
    bottom: 30px;
    width: 270px;
    opacity: 0;
    transition-duration: 2s;
    z-index: 4;
}

.speak_bubble>p {
    position: relative;
    bottom: 27px;
    left: 35px;
    font-size: 20px;
}

.speak_bubble>img {
    position: relative;
    top: 70px;
    max-width: 100%;
}

@media only screen and (max-device-width: 568px) {
    .host_container {
        left: 30px;
        bottom: 80px;
    }

    .speak_bubble {
        left: 15px;
        bottom: -25px;
    }

    .clouds {
        bottom: -50px;
    }
}

@media only screen and (min-device-width: 569px) and (max-device-width: 1024px) {
    .host_container {
        left: 90px;
        bottom: 120px;
    }

    .speak_bubble {
        left: 90px;
        bottom: 30px;
    }

    .clouds {
        bottom: -200px;
    }
}

@media only screen and (min-device-width: 1025px) and (max-resolution: 192dpi) {
    .host_container {
        left: 200px;
        bottom: 130px;
    }

    .speak_bubble {
        left: 200px;
        bottom: 30px;
    }

    .clouds {
        bottom: -200px;
    }
}

@media only screen and (min-device-width: 1025px) and (min-resolution: 192dpi) {
    .clouds {
        bottom: -400px;
    }
}

/* ==============================
HALL OF FAME
============================== */

.hall-of-fame-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    margin: 36px auto;
    opacity: 0;
    transition-duration: 3s;
}

.hall-of-fame-container table {
    border-style: inset;
    border-spacing: 0;
}

.hall-of-fame-container tbody {
    background-color: aquamarine;
}

.hall-of-fame-container td {
    border-bottom: 1px solid;
    border-bottom-color: black;
    background-color: lemonchiffon;
}

/* ==============================
WINNER FORM
============================== */

.winner-form-container {
    padding: 0 36px;
    display: none;
    transition-duration: 2s;
}

.winner-form-container form {
    display: flex;
    flex-direction: column;
}

.winner-form-container button {
    margin: 0 0 30px 0;
    font-family: 'Pixel', 'Regular';
    font-size: 20px;
    background-color: aquamarine;
}

.winner-form-input {
    margin: 0 0 30px 0;
    font-family: 'Pixel', 'Regular';
    font-size: 20px;
}

.winner-form-input::placeholder {
    font-family: 'Pixel', 'Regular';
}